---
import Layout from "../layouts/Layout.astro";
---

<Layout class="container">
    <h1>Acerca</h1>
    <p>Market Colón es una plataforma de comercio electrónico que permite a los comerciantes de la ciudad de Colón, Querétaro, vender sus productos en línea.</p>
</Layout>