---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout class="container">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
        <h1 class="text-2xl font-bold text-gray-800">Acerca de nosotros</h1>
        <div class="mt-4 grid grid-cols-2 sm:grid-cols-4 gap-6 articulos">
          <article class="flex flex-col items-center bg-white shadow rounded-lg p-4 hover:cursor-pointer hover:bg-gray-100 transform transition duration-300 hover:scale-102">
            <h2 class="font-serif"><u>Somos Market Colón</u></h2>
            <p class="mt-2 text-gray-700">Una plataforma donde podes <strong>encontrar los comercios de la ciudad de Colón (Entre Ríos)</strong> y al rededores. Cada local, almacén, tienda de ropa o taller que vas a encontrar en este lugar tiene su propia sección donde podrás ver su catálogo y ahorrar tiempo en recorrer diferentes lugares para encontrar lo que estas buscando.</p>
          </article>
          <article class="flex flex-col items-center bg-white shadow rounded-lg p-4 hover:cursor-pointer hover:bg-gray-100 transform transition duration-300 hover:scale-102">
            <h2 class="font-serif"><u>Por qué?</u></h2>
            <p class="mt-2 text-gray-700">Nunca te pasó estar necesitando algo y no saber donde lo podrías conseguir?, si es el caso, esta es tu herramienta ideal, vas a ver los locales que están esparcidos por la zona, incluso te podrías sorprender de uno que no conocías y tiene exactamente lo que estas buscando.</p>
          </article>
          <article class="flex flex-col items-center bg-white shadow rounded-lg p-4 hover:cursor-pointer hover:bg-gray-100 transform transition duration-300 hover:scale-102">
            <h2 class="font-serif"><u>Quieres ayudar?</u></h2>
            <p class="mt-2 text-gray-700">Puedes colaborar enviándonos los nombres y ubicación de los comercios que tu pienses que son pocos conocidos, nosotros nos encargaremos de registrarlo para que mas gente encuentre nuevas opciones</p>
          </article>
          <article class="flex flex-col items-center bg-white shadow rounded-lg p-4 hover:cursor-pointer hover:bg-gray-100 transform transition duration-300 hover:scale-102">
            <h2 class="font-serif"><u>Puedes ser parte</u></h2>
            <p class="mt-2 text-gray-700">Si te interesa aparecer en esta página, solo debes enviarnos un mensaje con tu nombre y ubicación, de ser necesario nos pondremos en contacto contigo, no importa si recién empezas, o si sos de un rubro muy selecto o específico, todos tienen algo único que ofrecer.</p>
          </article>
        </div>
        <div>
          <article class="flex flex-col items-center bg-white shadow rounded-lg p-4 hover:cursor-pointer hover:bg-gray-100 transform transition duration-300 hover:scale-102 mt-5">
            <h2 class="font-serif"><u>Más sobre nosotros</u></h2>
            <p class="mt-2 text-gray-700">Bienvenido a nuestra plataforma, el catálogo digital que te conecta con los comercios esenciales de Colón, Entre Ríos. Aquí reunimos todas las opciones que necesitas, ya sea que busques alimentación, electrónica, cosas para la casa o ropa. Nuestra herramienta te permite encontrar rápidamente desde una tienda de celulares hasta un negocio de reparación de PC, eliminando la necesidad de recorrer cada calle en busca de lo que necesitas.
            </p>

            <h2 class="font-serif"> Nuestra Misión</h2>
            <p class="mt-2 text-gray-700">Simplificar la forma en que descubres los comercios en Colón. Queremos brindarte un espacio donde cada búsqueda, ya sea de una carnicería tradicional, una librería especializada o un taller mecánico, se realice con facilidad y eficacia. Nos esforzamos por ofrecer una experiencia clara, ordenada e intuitiva que conecta tanto a usuarios como a emprendedores locales, permitiendo que cada visitante encuentre lo que realmente busca.
            </p>

            <h2 class="font-serif">Características de la Plataforma</h2>
            <p class="mt-2 text-gray-700">En nuestra página podrás filtrar los comercios por rubro o por el tipo exacto de artículo que estés necesitando. ¿Quieres buscar comercios de electrónica o aquellos que reparen PC? ¿Tal vez necesitas encontrar un comercio de alimentación, verdulería o carnicería? También podrás explorar artículos para el hogar, accesorios para vehículos, entretenimiento, estética, indumentaria, ferreterías, y hasta servicios web. Esta organización te permite acceder a información precisa y actualizada.
            </p>
              
            <h2 class="font-serif">Facilidades y Ventajas</h2>
            <p class="mt-2 text-gray-700">Utilizar nuestra plataforma significa ahorrar tiempo y descubrir nuevas oportunidades en tu ciudad. Al aplicar filtros y explorar las distintas categorías, podrás encontrar desde establecimientos que ofrecen servicios web hasta tiendas especializadas en vehículos o en artículos para el hogar. Esta facilidad hace que la experiencia de búsqueda sea rápida, sin la incomodidad de perder horas recorriendo calles, además de brindar la posibilidad de conocer negocios que quizá no hallarías de otra manera. Nuestro objetivo es que, con cada visita, tu experiencia de usuario se vuelva cada vez más eficiente y agradable.
            </p>
              
            <h2 class="font-serif">Explora y Descubre</h2>
            <p class="mt-2 text-gray-700">Te invitamos a explorar cada sección y a aprovechar todos los beneficios de buscar en un sitio diseñado pensando en la comunidad local. Con categorías distribuidas en alimentación, electrónica, hogar, ropa, vehículos, entretenimiento, estética, indumentaria, ferretería, librería, taller, verdulería, carnicería y servicios web, estás a un clic de descubrir lo mejor de Colón.
              ¡Descubre, explora y déjate sorprender!
              </p>
          </article>
        </div>
    </div>
    <Footer />
</Layout>

<style>
@media (max-width: 640px) {
    .mt-4 {/* cambiar a 1 sola columna en dispositivos mobiles*/
        grid-template-columns: 1fr;
    }
}
</style>