---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
    <div class="bg-blue-500 h-screen w-100% flex justify-center items-center">

        <Footer />
    </div>
</Layout>

<style>
    /*estilo para .bg-blue-500 en dispositivos mobiles tenga flex-direction: column */
    @media (max-width: 640px) {
        .bg-blue-500 {
            flex-direction: column;
        }
        .shadow-md {
            width: 100%;
        }
    }
</style>